/* Box Model Hack */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: unbounded, Arial, Helvetica, sans-serif;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.container {
/* border: 3px solid red; */
width: 100%;
}
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
*{
    font-family: unbounded;
}

#nav, #menu{
    display: flex;
}
#nav{
    /* background-color: rgb(41, 40, 40); */
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    font-size: larger;
    font-family: unbounded;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid gray;
}

nav *{
    text-decoration: none;
    color: azure;

}

#hero{
    background-color: rgba(124, 77, 67, 0.515);
    background-image: url("../img/georgia-z-JG5lgvc57qE-unsplash.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

#main{
    padding-top: 75px;
    padding-bottom: 100px;
    color: white;
    height: 530px;
}
h1{
    font-weight: bolder;
    padding-bottom: 2rem;
    font-family: Caramel;
    font-size: 6rem;
}
aside{
    width: 500px;
    padding-left: 5%;
    font-size: 1.3rem;
    line-height: 2.4rem;
    
}

img{
    max-width: 100%;
}

#menu-section{
    height: 400px;
    background-color: rgba(236, 126, 66, 0.245);
    background-image: url("../img/patrick-fore-m9qWesqRN0M-unsplash.jpg");
    background-size: cover;
    background-blend-mode: lighten;
}

#menu{
    color: white;
    font-size: larger;
    font-family: unbounded;
    padding-top: 1rem;
    padding-right: 80px;
    justify-content: flex-end;
}

#hours{
    height: 440px;
    background-color: rgba(104, 45, 36, 0.351);
    background-image: url("../img/tamas-pap-XLmhRnV8yuc-unsplash.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

#hours > section{
    font-family: unbounded;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    padding-top: 50px;
    line-height: 2.4rem;
}

h3{
    padding-left: 140px;
    padding-bottom: 25px;
    font-weight: 700;
    text-decoration: underline;
}

footer{
    font-family: unbounded;
    background: rgb(253,29,29);
    background: linear-gradient(90deg, rgba(253,29,29,1) 10%, rgba(253,53,35,1) 32%, rgba(253,76,41,1) 45%, rgba(253,102,48,1) 72%, rgba(252,176,69,1) 100%);
    border-top: 8px solid gray;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

}

  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  