/* Box Model Hack */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.container {
/* border: 3px solid red; */
width: 100%;
}
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
*{
    font-family: unbounded;
}

#nav, #menu{
    display: flex;
}
#nav{
    /* background-color: rgb(41, 40, 40); */
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    font-size: larger;
    font-family: unbounded;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid gray;
}

nav *{
    text-decoration: none;
    color: azure;

}

#hero{
    background-color: rgba(124, 77, 67, 0.515);
    background-image: url("../img/georgia-z-JG5lgvc57qE-unsplash.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

#main{
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    height: 500px;
}
h1{
    font-weight: bolder;
    padding-bottom: 2rem;
    font-family: Caramel;
    font-size: 6rem;
}
aside{
    width: 450px;
    padding-left: 5%;
    font-size: 1.3rem;
    
}

#menu{
    justify-content: space-around;
}

img{
    max-width: 100%;
}

#menu-section{
    height: 400px;
    background-color: rgba(236, 126, 66, 0.245);
    background-image: url("../img/patrick-fore-m9qWesqRN0M-unsplash.jpg");
    background-size: cover;
    background-blend-mode: lighten;
}

#menu{
    color: white;
    font-size: larger;
    font-family: unbounded;
    padding-top: 1rem;
}


  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  